<div class="alert alert-secondary" *ngFor="let message of messages">
  {{message.name}}: {{message.message}}
</div>
<div>
  <form class="form-group row" (ngSubmit)="sendMessage(message)">
    <div class="col-sm-11 p-0">
      <input class="form-control" #inputMessage [(ngModel)]="message" name="message">
      <div align="end">{{inputMessage.value.length}}/140</div>
    </div>
    <div class="col-sm-1 pl-1">
      <button class="btn btn-primary w-100" type="submit">Enter</button>
    </div>
  </form>
</div>