.meeting-request-form{
    width:60%;
    margin:auto
}
.participant-email-label{
    width:60%
}

.calendar{
    position: absolute;
    z-index: 999;
    margin-left: 30px;
    margin-top: -37px;
    background-color: white
}
.submit-button{
    width:87%;
}