.meeting-request-form{
    width:60%;
    margin:auto
}
.participant-email-label{
    width:60%
}

.calendar{
    position: absolute;
    z-index: 999;
    margin-left: 30px;
    margin-top: -37px;
    background-color: white
}
.submit-button{
    width:87%;
}
.delete-icon{
    font-size:20px;
}
.participant-email{
    margin: 10px 0px 16px 0px;
    font-size: 2.2vh;
    padding-left: 0px;
}
.form-control{
    color: #6c757d;
}