<div class="container-fluid">
  <div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8 main-content">
    <section class="row main-component">
      <div class="col-sm-6 button-block">
        <div class="col-sm-3 login-btn button-block">
            <button class="btn btn-primary" (click)="registered=true">Registration</button>
        </div>
        <div class="col-sm-3 reg-btn button-block">
            <button class="btn btn-primary" (click)="registered=false">Login</button>
        </div>
      </div>
      <div class="col-sm-6">
         <app-register *ngIf="registered"></app-register>
         <app-login *ngIf="!registered"></app-login>
      </div>
    </section>
  </div>
  <div class="col-sm-2"></div>
  </div>
</div>



