<!-- main container -->
<div class="container-fluid">
  <div class="row">
  <div class="col-sm-12 main-content">
    <div class="row">
      <section class="col-sm-4 left-panel">
        <div class="img-center">
            <img src="logo.jpg" alt="" >
        </div>
      </section>
    <section class="col-sm-8 right-panel">
        <div class="container mt-3">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home"> 
                  <button class="btn btn-primary" (click)="registered=true">Registration</button>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu1">
                    <button class="btn btn-primary" (click)="registered=false">Login</button>
                </a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div id="home" class="container tab-pane active"><br>
                <app-login *ngIf="!registered"></app-login>
              </div>
              <div id="menu1" class="container tab-pane fade"><br>
                <app-register *ngIf="registered"></app-register>
              </div>
            </div>
          </div>
    </section>
  </div>  
  </div>
  </div>
</div>


