
    <nav class="navbar navbar-expand-sm bg-color">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">
              <header>
                  <h1 class="capcologo">CAPCO</h1>
              </header>
            </a>
          </li>
        </ul>
      </nav>
      <!-- show date -->
      <div>
          <header>
              <h1 class="up-meeting">Upcoming Meetings</h1>
          </header>
          <header>
              <h2 class="date">{{dateNowISO | date: format}}</h2>
          </header>
      </div>
      <!-- accordion start -->
      <div id="accordion" class="acc-block">
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0 create-meeting">
              <button class="btn btn-link collapsed" id="" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Create Meeting Request +  
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>
      <!-- card block start -->
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-6 main-card" *ngFor="let meetingData of data">
                <div class="card">
                  <div class="card-body card-block">
                    <div class="row">
                    <div class="col-sm-2 icon">
                        <i class="fa fa-address-card-o" style="font-size:48px;color:black;"></i>
                    </div>
                    <div class="col-sm-5">
                        <h2 class="font">{{meetingData.agenda}}</h2>
                        <h1 class="heading">{{meetingData.location}}</h1>
                    </div>
                    <div class="col-sm-4">
                          <div class="row">
                              <div class="col-sm-12">
                                  <button type="button" class="btn btn-info join-btn1">Create Virtual room</button>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-sm-6">
                                  <button type="button" class="btn btn-success edit-btn">Edit</button>
                              </div>
                              <div class="col-sm-6">
                                  <button type="button" class="btn btn-danger cancel-btn">Cancel</button>
                              </div>
                          </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                          <div class="card-time float-left">Date : 11 May 2019</div>
                      </div>
                      <div class="col-sm-6">
                          <div class="card-time">Time : 2:30 AM</div>  
                      </div>
                      <div class="col-sm-6">
                          <div class="card-time">
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                  See Participants -> 
                                </button>
                              </div>  
                      </div>
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Participants Invited</h5>
                            </div>
                            <div class="modal-body">
                            <ul class="list-group">
                                <li class="list-group-item active">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>  
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>  
              </div>
            </div>
    </div>
