<div class="col-sm-5">
    <div class="row">
        <div class="col-sm-12 disp-cen">
            <button type="button" class="btn btn-info" (click)="createRoom(meetingData)"
                *ngIf="!isVirtualRoomCreated">Create Virtual
                room</button>
            <button type="button" class="btn btn-info" *ngIf="isVirtualRoomCreated" data-toggle="modal"
                data-target="#acceptTokenModal" (click)="sendDetailsToTokenModal(meetingData)">Join Virtual
                Room</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 edit-btn">
            <button type="button" class="btn btn-success edit-btn2">Edit</button>
        </div>
        <div class="col-sm-6 cancel-btn  p-left p--right">
            <button type="button" (click)="cancel(meetingData)" class="btn btn-danger">Cancel</button>
        </div>
    </div>
</div>