
    <nav class="navbar navbar-expand-sm bg-color d-flex">
        <ul class="navbar-nav nav-content">
          <li class="nav-item active col-6">
            <a class="nav-link" href="#">
                <h1 class="capcologo">CAPCO</h1>
            </a>
          </li>
          <li class="logout justify-content-end col-6">
            <a class="nav-link" href="" (click)="logout()">Logout</a>
          </li>
        </ul>
      </nav>
      <!-- show date -->
      <div>
        <h1 class="up-meeting">Upcoming Meetings</h1>
        <h2 class="date">{{dateNowISO | date: format}}</h2>
      </div>
      <!-- accordion start -->
      <div id="accordion" class="acc-block">
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-primary collapsed create-meeting" data-toggle="collapse" data-target="#collapseThree" [routerLink]=" ['meetingRequest'] " aria-expanded="false" aria-controls="collapseThree">
                <img src="../../assets/svg-icons/plus.svg" class="add-icon mr-2"/>Create Meeting Request
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse justify-content-center" aria-labelledby="headingThree" data-parent="#accordion">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
      <!-- card block start -->
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-6 main-card" *ngFor="let fff of myArray">
                <div class="card">
                  <div class="card-body card-block">
                    <!-- <h5 class="card-title">{{fff.Meeting}}</h5>
                    <p class="card-text">{{fff.subject}}</p>
                    <a href="#" class="btn btn-primary">join</a> -->
                    <div class="row">
                    <div class="col-sm-2 icon">
                        <i class="fa fa-address-card-o" style="font-size:48px;color:black;"></i>
                    </div>
                    <div class="col-sm-5">
                        <h2 class="font">{{fff.Meeting}}</h2>
                        <h1 class="heading">{{fff.subject}}</h1>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-info join-btn1">Create Virtual room</button>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-success join-btn">Edit</button>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-danger join-btn">Cancel</button>
                            </div>
                          </div>
                    </div>
                    <div class="card-time">Time : {{fff.to}}-{{fff.from}}</div>
                    </div>
                  </div>
                </div>  
              </div>
            </div>
    </div>
