
    <nav class="navbar navbar-expand-sm bg-color d-flex">
        <ul class="navbar-nav nav-content">
          <li class="nav-item active col-6">
            <a class="nav-link" href="#">
                <h1 class="capcologo">CAPCO</h1>
            </a>
          </li>
          <li class="logout justify-content-end col-6">
            <a class="nav-link" href="" (click)="logout()">Logout</a>
          </li>
        </ul>
      </nav>
      <!-- accordion start -->
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-primary collapsed create-meeting" data-toggle="collapse" data-target="#collapseThree" [routerLink]=" ['meetingRequest'] " aria-expanded="false" aria-controls="collapseThree">
                <img src="../../assets/svg-icons/plus.svg" class="add-icon mr-2"/>Create Meeting Request
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse justify-content-center" aria-labelledby="headingThree" data-parent="#accordion">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>