
/* You can add global styles to this file, and also import other style files */
.form-main-block{
    margin-bottom: 20px;
}
.button-block{
    text-align: center;
}
.left-panel{
    background-color: black;
    height: 694px;
}
.right-panel{
    padding-top: 100px;
}
.img-center{
    display: flex;
    justify-content: center;
    padding-top: 243px;
}img{
    width: 326px;
    height: 277px;
}
.bg-color{
    background-color: black;
}
.main-dashboard{
    padding-left: 0px;
    padding-right: 0px;
}

///*****************dashboard*************************///
.capcologo{
    width: 100%;
    height: auto;
    color: white;
}
.create-meeting{
    font-size: 20px;
}
.up-meeting{
    color : #343a40;
    font-size: 20px;
    padding-top: 10px;
}
.date{
    color : #343a40;
    font-size: 16px;
}
.acc-block{
    padding-top: 23px;
}
.card-block{
    background-color: #626ed4;
    margin-top: 30px;
    border: 2px solid #626ed4; 
    border-radius: 4px;
    padding: 7px;
}
.font{
    font-size: 14px;
    color: #f0faff;
}
.icon{
    background-color: #7984da;
    padding: 5px;
}
.img-icon{
    width: 30px;
}
.main-card{
    padding-left: 28px;
    padding-right: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.heading{
    font-size: 20px;
    color: #acb7ea;
}
.card-time{
    color: #a4b7e8;
    padding-top: 10px;
}
.join-meeting{
    padding-left: 1px;
}
.join-btn{
    width: 95px;
    margin-top: 10px;
}
.join-btn1{
    width: 205px;
}