
/* You can add global styles to this file, and also import other style files */
.form-main-block{
    margin-bottom: 20px;
}
.button-block{
    text-align: center;
}
.left-panel{
    background-color: black;
    height: 694px;
}
.right-panel{
    padding-top: 181px;
}
.img-center{
    display: flex;
    justify-content: center;
    padding-top: 243px;
}img{
    width: 326px;
    height: 277px;
}
