<form class="form-group" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">First Name:</label>
    <input type="text" formControlName="fname" name="fname" class="form-control" id="fname" required>
  </div>
  <div class="alert alert-danger" *ngIf="userForm.fname.touched && userForm.fname.errors">
    First Name is required
  </div>
  <div class="form-group">
    <label for="name">Last Name:</label>
    <input type="text" formControlName="lname" name="lname" class="form-control" id="lname" required>
  </div>
  <div class="alert alert-danger" *ngIf="userForm.lname.touched && userForm.lname.errors">
    Last Name is required
  </div>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" formControlName="email" name="email" class="form-control" id="email" required>
  </div>
  <div class="alert alert-danger" *ngIf="userForm.email.touched && userForm.email.errors">
    <div *ngIf="userForm.email.errors.required">
      Email is required
    </div>
    <div *ngIf="userForm.email.errors.pattern && !userForm.email.errors.required">
      Email should be of format (xxxx@capco.com)
    </div>
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" formControlName="password" name="pwd" class="form-control" id="pwd" required>
  </div>
  <div class="alert alert-danger" *ngIf="userForm.password.touched && userForm.password.errors">
    <div *ngIf="userForm.password.errors.required">
      Password is required
    </div>
    <div *ngIf="userForm.password.errors.pattern && !userForm.password.errors.required">
      Password should contain 1 special char,1 upper case letter, 1 number and length of password should be eight
      characters only
    </div>
  </div>
  <div class="form-group">
    <label for="confirm-pwd">Confirm Password:</label>
    <input type="password" formControlName="cnfPassword" name="confirm-pwd" class="form-control" id="confirm-pwd"
      required>
  </div>
  <!-- <div *ngIf="(userForm.cnfPassword.dirty) && (userForm.cnfPassword.value != userForm.password.value)">Password does not match</div> -->
  <div class="alert alert-danger" *ngIf="userForm.cnfPassword.touched && userForm.cnfPassword.errors">
    <div *ngIf="userForm.cnfPassword.errors.required">Confirm Password is required</div>
    <div *ngIf="userForm.cnfPassword.errors.mustMatch && !userForm.cnfPassword.errors.required">Passwords must match
    </div>
  </div>
  <div class="pt-3">
    <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Submit</button>
  </div>
  <div *ngIf="successfullyRegistered" class="alert alert-success mt-3" role="alert">
    You have successfully registered. Please proceed to Login.
  </div>
  <div *ngIf="unsuccessfullRegistration" class="alert alert-danger mt-3" role="alert">
    {{errorMessage}}
  </div>
</form>